<style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f2f2f2;
        }

        .success-message {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .success-message h2 {
            margin-bottom: 20px;
        }

        .success-message p {
            margin-bottom: 20px;
        }

        .success-message a {
            display: inline-block;
            background-color: #007BFF;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            text-decoration: none;
        }
    </style>
<div class="success-message" >
    <h2>Login Successful!</h2>
    <a href="/app/posts">Continue to Dashboard</a>
    <a href="/logout">Log out</a>
</div>